<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900423780245-tpnrqatbtdci0dgegf29e6ck2a011r6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900423780245-tpnrqatbtdci0dgegf29e6ck2a011r6a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900423780245-u5vbmpvc8j7j971h34hvdch117si76v8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbPZtG7IjZSUOSubQJSx87NCtpQOeBeyY</string>
	<key>GCM_SENDER_ID</key>
	<string>900423780245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dscadmu.ios.admurecweekapp</string>
	<key>PROJECT_ID</key>
	<string>admu-recweek-app</string>
	<key>STORAGE_BUCKET</key>
	<string>admu-recweek-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900423780245:ios:84955f955ed0620e7fd89c</string>
	<key>DATABASE_URL</key>
	<string>https://admu-recweek-app.firebaseio.com</string>
</dict>
</plist>